.footer-container {
  position: fixed;
  bottom: 0;
  width: 97%;
  display: flex;
  padding: 10px 0px;
  border: 1px solid black;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
}

.footer-container button {
  width: fit-content;
  margin: auto;
  border: none;
  color: green;
  font-size: 48px;
}
